services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    env_file:
      - .env.mysql
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    build: .
    depends_on:
      - mysql
    env_file:
      - .env.app
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
volumes:
  mysql_data: